<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/index.css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">   
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
<!-- Banner -->
        <div class='full-banner mt-2'>
            <div class='row banner-row-1 mx-auto'>
            </div>
            <div class='row banner-row-2 mx-auto'>
            </div>
            <div class='row banner-row-3 mx-auto'>
            </div>
            <div id='stroke'></div>
            <div id='banner-txt'>
                <!-- nd<span id='r'>r</span>e<span id='w'>w</span> -->
                <!-- <span id='o'>o</span>o<span id='k'>k</span> -->
                <p>A</p>
                <p>H</p>
            </div>
        </div>

<!-- Posts -->

<% posts.forEach((post)=>{ %>
        <div class='post'>
            <div class='row'>
                <div class='col-10 title-bar mx-auto'>
                    <h6 id='date'><%= post.date.split(' ').splice(1,3).join(' ') %></h6>
                    <h1 class='float-right' id='post-title'><%= post.title %></h1>
                    <ul class='list-inline tags'>
                    <% post.tags.forEach((tag)=>{ %>
                        <li class='list-inline-item'><a href='#'><%= tag %></a></li>
                    <% }) %>
                    </ul>
                </div>
            </div>
            <div class='row'>
                <div class='col-10 post-content mx-auto'>

                <%  post.contents.forEach((content)=>{ %>

                    <% for(var i = 0; i < content.paragraphs.length; i++){ %>

                        <p><%= content.paragraphs[i] %></p>

                        <% if(content.headers[i]){ %>
                            <h3 class='font-weight-bolder headers'><%= content.headers[i] %></h3>
                        <% } %>
                        
                        <% if(content.images[i]){ %>
                            <img class='<%= content.images[i].class[i] %>' src='<%= content.images[i].url[i] %>'>
                        <% } %>

                    <% } %>

                <% }) %>
                    
                </div>
            </div>
        </div>
    <%  }) %>
    </div>

<!-- Navbar -->
<ul class='nav shadow-sm fixed-bottom justify-content-center'>
    <li class='nav-item'>
        <a class='nav-link' href='/'>Home</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link books' href='/books'>Books</a>
    </li>
    <li class='nav-item'>
        <a class='nav-link' href='/contact'>Contact</a>
    </li>
</ul>

    <script src='js/index.js'></script>
</body>
</html>